<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Player</h3>
  </div>
  <div class="panel-body">
    <label>NAME {{input value=player.namelast classNames='form-control'}}</label>
    <label>Name {{input value=player.namefirst classNames='form-control'}}</label>
    <button class="btn btn-sm btn-info" type="button" {{action 'save'}}>Edit</button><br>
    <button class="btn btn-sm btn-warning" type="button" {{action 'deletePlayer'}}>Delete</button>
  </div>
</div>



