<h1>Conversations</h1>

<div class="well">
  <p>This app is Go game result database. Add players in the {{#link-to 'players'}}Players{{/link-to}} section. Then add game results in the {{#link-to 'games'}}Games{{/link-to}} section. Viewing a player will show games they have participated in and will also generate some statistics.</p>
  <p>"Conversations" is so named because it is a common metaphor to refer to a game of Go as a conversation.</p>
</div>






